In [22]:
from faker import Faker
from pydbgen import pydbgen
import pandas as pd
import random
import datetime

fake = Faker()
ourDB = pydbgen.pydb();

In [23]:

fake.profile()

{'job': 'Scientist, product/process development',
 'company': 'Deleon and Sons',
 'ssn': '678-44-1829',
 'residence': '8718 Kristi Cove Apt. 540\nWest Melindaland, FL 86490',
 'current_location': (Decimal('-53.322899'), Decimal('57.660163')),
 'blood_group': 'AB-',
 'website': ['http://williams-morgan.com/'],
 'username': 'beasleygregory',
 'name': 'Renee Arnold',
 'sex': 'F',
 'address': '37201 Madison Curve\nStuartland, TX 31488',
 'mail': 'anthony87@yahoo.com',
 'birthdate': datetime.date(1970, 11, 1)}

In [20]:
def make_profile(y):
    profiles = pd.DataFrame([fake.simple_profile() for i in range(y)])
    profiles_created = datetime.datetime.now
    return profiles

profiles = make_profile(1000)
profiles.head()

,username,name,sex,address,mail,birthdate
0,jonesangela,Robin Perkins,F,"6577 Brown Haven Apt. 384\nHeathershire, MT 70293",mathislori@yahoo.com,1972-08-02
1,xmoore,Edwin Tyler,M,"778 Maynard Drives Suite 629\nBryanthaven, NC ...",bmorris@hotmail.com,1911-04-29
2,tdaniels,Steven Marshall,M,"3123 West Causeway\nEast Rhondaport, NM 12707",barkerroberta@hotmail.com,1957-12-08
3,aguilarlawrence,Steve Lucas,M,"9248 Jones Island Suite 249\nFordport, MO 21173",danielmathis@yahoo.com,2000-07-09
4,douglasjason,Leah Martinez,F,55786 Michael Views Suite 665\nLake Sharonbury...,rogerskimberly@yahoo.com,1949-12-18

In [21]:
myDB.gen_table(100, fields = ['id' , 'first_name', 'last_name', 'house_number',
                            'locality', 'city', 'state', 'pincode', 'email_address',
                            'password',
                             = 'testing_customer',
                            primary_key = 'id', real_city = True]

SyntaxError: invalid syntax (<ipython-input-21-305fb5801931>, line 4)

In [29]:
name = fake.name(); print(name);
print(fake.address());

Catherine Evans
22866 Koch Village Suite 121
New Christopher, HI 75040